@font-face {
  font-family: imported;
  src: url(../src/assets/travel\ diary_feb26.ttf);
}
* {
  font-family: imported;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  background-image: url("../src/assets/main.jpg");
  color: rgb(236, 232, 232);
  padding: 0rem;
  margin: 0rem;
  background-color: rgb(224, 204, 163);
}
.header {
  margin: 0rem;
  padding: 0rem;
  background-image: url("../src/assets/header.jpg");
  background-size: cover;
  width: 100%;
}
.getstarted {
  width: 120px;
  margin: 10px;
  border-radius: 2rem;
  border-color: rgb(145, 137, 137);
  background-color: aliceblue;
  color: rgb(135, 128, 128)
}
.getstarted:hover {
  width: 120px;
  margin: 10px;
  border-radius: 2rem;
  border-color: aliceblue;
  background-color: rgb(118, 111, 111);
  color: aliceblue;
}
.RotulHeader {
  width: 80%;
  margin: 0rem;
  gap: 10%;
  display: grid;
  align-items: center;
  text-align: left;
}
.headerh1 {
  margin: 10px;
  font-size: 80px;
  color: crimson;
}
.headerh2 {
  margin: 10px;
  font-size: 60px;
  color: darkorange;
}

hr {
  background-color: rgb(255, 255, 255);
  height: 5px;
  width: 100%;
  color: rgb(255, 255, 255);
}

.PaginaInicio {
  margin: 10px;
  text-align: center;
}
.articleNoteUSer {
  width: 90%;
  display: grid;
  margin: 2%;
  padding: 2%;
  border-radius: 1rem; 
  background-color: rgb(255, 255, 255);
  border-color: black; 
  color: black;
  border-radius: 2rem;
  border: 2%;
  border-style: solid; color: rgb(11, 11, 43);
}
.articleNoteSearch {
  background-size: 100%;
  width: 50%;
  margin: 1% auto;
  padding: 4% auto;
  background-color: rgb(214, 214, 214);
  color: black;
  border-style: solid; color: rgb(11, 11, 43);
}
.imageArticle {
 width: 500px 
}
.ulActions li img {
  transition: background-color .5s;
  border-radius: 2rem;
  padding: 10px;
  width: 5%;
  list-style: none;
}
.ulActions li img:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color .5s;
  padding: 10px;
  width: 5%;
  padding: 10px;
  list-style: none;
  cursor : pointer;
}
.SearchNotes{
  text-align: center;
  margin: 1rem;
  font-size: 1rem;
  width: 15%;
  border-radius: 2%;
}

.liSearch {
  display: grid 
}

ul {
  list-style: none;
}

form {
  margin: 4%;
  align-items: center;
  text-align: center;
  width: 20%;
  background-color: aliceblue;
  color: black;
  margin: auto;
  padding: 1%;
  border: solid;
  border-radius: 6%;
  border-color: rgb(11, 11, 43);
}

button {
  margin: 1rem;
  padding: 10px;
  color: rgb(253, 253, 253);
  background-color: rgb(46, 126, 179);
}
button:hover {
  margin: 1rem;
  padding: 10px;
  color: rgb(253, 253, 253);
  background-color: rgb(69, 157, 197);
  cursor: pointer;
}
fieldset {
  margin: 1%;
  padding: 1%;
}
fieldset input {
  width: 90%;
  padding: 2%;
}
textarea {
  width: 80%;
  padding: 2%;
}
select {
  width: 80%;
  padding: 2%;
}
h3 {
  color: rgb(0, 0, 0);
}
h4 {
  color: rgb(8, 8, 8);
}

@media only screen and (max-width: 950px) {
  .banner {
    margin: 0rem;
  width: 100%;
  height: 100%;
  
  display: flex;
  margin: auto;
  border-radius: 1rem;
  border: 3%;
  border-style: solid; color: rgb(19, 19, 68);
}


.ulhomeListCreate li img {
  margin: 1rem;
  width: 10%;
  border-radius: 2rem; 
  list-style: none; 
}
.ulhomeListCreate li img:hover {
  margin: 1rem;
  width: 4%;
  border-radius: 2rem;
  background: border-box;
  background-color: rgb(255, 255, 255);
  transition: background-color .5s;
  list-style: none;
  cursor: pointer;
}
.ulLoginRegisterHome li img {
  margin: 1rem;
  width: 10%;
  list-style: none;
}
.ulLoginRegisterHome li img:hover {
  margin: 1rem;
  width: 4%;
  border-radius: 2rem;
  background: border-box;
  background-color: rgb(255, 255, 255);
  transition: background-color .5s;
  list-style: none;
  cursor: pointer;
}
  
form {
  margin: auto;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 30%;
  background-color: aliceblue;
  color: black;
  margin: auto;
  padding: 2%;
  border-radius: 1rem;
  border-color: darkblue;
  }

fieldset {
  width: 40;
  margin: 1%;
  padding: 1%;
  
}
input {
  width: 60%;
  padding: 2%;
}
  
textarea {
  width: 60%;
  padding: 2%;
    
    
}
select {
  width: 20%;
  padding: 2%;
} 

.articleNoteSearch {
  background-size: 100%;
  width: 80%;
  margin: 1% auto;
  padding: 4% auto;
  background-color: rgb(214, 214, 214);
  color: black;
  border-style: solid; color: rgb(11, 11, 43);
}
.imageArticle {
  width: 250px
 }
}

 